* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #8c867e;
  height: 1px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100%;
  height: 1px;
}
